@font-face { 
    font-family: "Forum";
    src: url("../fonts/Forum/ForumRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*
Ширина блока                    width: 1300px;
Высота блока                    height: 58px;
Выровнять по цетру блок         margin: 0 auto;
Фоновый цвет                    background-color: 
Выстроить блоки в строку        display: flex;
Растянуть блоки по ширине       justify-content: space-between;
Перенос блока на новую строку
если не помещается в текущей    flex-wrap: wrap;
Внутренний отступ сверху        padding-top: 15px;
Закругленные углы блока         border-radius:
Жирность текста                 font-weight: 400; 400 норм,700 жирный

Тень вокруг блок                box-shadow: 1px 12px 15px -5px rgba(41,64,211,.08);
Конструктор теней               https://active-vision.ru/icon/box-shadow/
При добавлении отступов ширина 
блока увеличивается. 
Чтобы отступы включились в ширину
ставим свойство                 box-sizing: border-box;
Подчеркивание                   text-decoration: none; или underline;
Верхний регистр                 text-trasform: uppercase;
Эффект при наведении            a:hover{стили};
Прозрачность                    opacity: 0.6;
Замедление                      transition: 1.5s ease-in-out;
При наведении увеличить фото 
У родителя ставим:
скрывать края                   overflow: hidden;
установить масштаб              transform: scale(1.2);
межсторочный интервал            line-height: 1.4;


*/

/* сброс стилей */
h1,h2,h3,h4,h5,h6,p,div,body,ul,li,ol{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
summary{
    list-style-type: none;
}
summary::-webkit-details-marker {
    display: none; /* Chrome */
  }
/* a{
    position: relative;
    cursor: pointer;
}
a:hover{
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; *//* Высота линии *//*
    background-color: #1C1B17; /* Цвет подчеркивания при исчезании линии*//*
    transition: width 0.5s; /* Время эффекта */
/*}*/
/*a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии *//*
    background-color: #8C7645; /* Цвет подчеркивания при появлении линии*//*
    transition: width 0.5s;  /* Время эффекта */
/*} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body,*{
    /* Чтобы ширина блока не увеличивалась при добавлении отступов (padding) */
    box-sizing: border-box;
    /*font-family: 'Golos Text', sans-serif;*/
    font-family: Forum;
}
body{
    background-color: #FAF7F4;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
   
  .spinner {
    width: 60px;
    height: 60px;
    border: 8px solid #ccb262;
    border-top-color: #7C6033;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
   
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* Стили для модального окна */
.modal {
    display: none;
    /* По умолчанию скрыто */
    position: fixed;
    /* Фиксированное положение */
    z-index: 1;
    /* Верхний уровень */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.9);
    /* Черный цвет с прозрачностью */
}

.modal-content {
    margin: 100px auto 300px;
    display: block;
    width: 35%;
    max-width: 700px;
    background-color: #FAF7F4;
    padding: 15px;
    border-radius: 25px;
}

.modal-content img {
    width: 100%;
    height: auto;
}


.container{
    width: 1300px;  /*Ширина блока */
    margin: 0 auto; /*Блок по центру */
}
.title h2{
    color: #000;
    font-family: Forum;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.title h3{
    color: #1C1B17;
    font-family: Tahoma;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 25px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 25%;
    background-color: #AF955C;
    padding: 10px;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 45px;
}
.item-info{
    height: 160px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-name{
    margin: auto 0;
}

.add-korz .calc-count{
    background-color: #7C6033;
}
.add-korz .calc{
    border: #7C6033 2px solid;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add-korz-btn{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: #7C6033;
    border: solid #7C6033;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add-korz-btn:hover{
    border: 1 solid #7C6033;
    background-color: #a17d42;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mob-btn {
    width: 45px;
  
    /* position: absolute;
    z-index: 700;
    top: 8px;
    right: 24px; */
    display: none;
    cursor: pointer;
}
.mob-btn img{
    width: 100%;
}
.mob-menu{
    background-color: #F6EFEA;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    width: 300px;
    visibility: visible;
    /* display: block; */
    position: absolute;
    z-index: 700;
    right: -300px;
    top: 70px;
    transition: all 1s ease;
    display: none;
}
.mob-menu.active{
    right: 0px;
    display: block;
    transition: all 1s ease;
}
.mob-menu__logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.mob-menu__logo img{
    width: 100%;
}
.mob-menu__top{
    border: #8C7645 3px solid;
    width: 275px;
    margin-left: 10px;
}
.mob-menu__menu{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mob-menu__menu ul li{
    padding-bottom: 5px;
    padding-top: 2px;
}
/* .mob-menu__menu ul li a{
    text-decoration: none;
    color:#AF955C;
    font-size: 20px;
}
.mob-menu__menu ul li a:hover{
    color: #F6EFEA;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.mob-menu__menu ul li a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    /*background-color: #1C1B17;*/ /* Цвет подчеркивания при исчезании линии*/
    /*transition: width 0.5s;*/ /* Время эффекта */
/* }
.mob-menu__menu ul li a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    /*background-color: #8C7645;*/ /* Цвет подчеркивания при появлении линии*/
    /*transition: width 0.5s;*/  /* Время эффекта */
/*} */
.mob-menu__menu a{
    color: #1C1B17;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.mob-menu__menu a:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.mob-menu__menu a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #1C1B17; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
.mob-menu__menu a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #8C7645; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
header{
    background: #F6EFEA;
    height: 70px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 600;
    width: 100%;
}
.top{
    margin: 0 auto; /*Блок по центру */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__logo{
    width: 100px;
    margin: 4px 0;
}
.top__logo img{
    width: 100%;
}
.top__menu{
    width: 520px;
    padding-top: 4px;
}
.top__menu a{
    color: #1C1B17;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.top__menu a:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.top__menu a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #1C1B17; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
.top__menu a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #8C7645; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.top__menu ul{
    display: flex;
    justify-content: space-evenly;
}
.top__number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.top__pict{
    width: 20%;
}
.top__pict img{
    width: 100%;
}
.top__text a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.top__text a{
    color: #1C1B17;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.top__text a:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.top__korz-account{
    padding-top: 4px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center
}
.top__korz-account a{
    width: 45%;
}
.top__korz-account img{
    width: 92%;
    border-radius: 100%;
    border: 1px solid #a17d42;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.account-img img{
    width: 49px;
    height: 49px;
    object-fit: cover;
    border-radius: 100%;
    
}
.top__korz-account img:hover{
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          
}

.slyder{
    background: #FAF7F4;
    padding-top: 202px;
    padding-bottom: 150px;
}
.slyder__info{
    width: 45%;
    
}
.slyder__info h1{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000;
    font-family: Tahoma;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}
.slyder__info h1 span{
    color: #8C7645;
}
.slyder__info p{
    font-size: 24px;
    color: #000;
    font-family: Tahoma;
}
.slyder__photos{
    width: 50%;
    border: #AF955C 1px solid;
    border-radius: 15px;
}
.slyder__photo img{
    object-fit: cover;
        width: 100%;
        height: 388px;
    border-radius: 15px;
    cursor: pointer;
}
.slyder__photos .slick-dots li button {
    width: 30px;
    height: 30px;
}
.slyder__photos .slick-dots li button:before {
    font-size: 12px;
    line-height: 30px;
}
.popular{
    width: 100%;
    /*height: 950px;в блоках высоту ставить нельзя*/
    background-color: #1C1B17;
}
.popular__top{
    background-image: url(../images/fon-popular.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 94px;
    padding-bottom: 84px;
}
.popular .title h2{
    font-family: Tahoma;
    font-size: 50px;
    text-align: center;
    color: #FAF7F4;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popular__items{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular__item{
    width: 30%;
    background-color: #FAF7F4;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 45px;
}
.popular__item > .item-photo img{
    width: 100%;
    border-radius: 25px;
    height: 305px;
    object-fit: cover;
}
.popular__item > .item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    margin-top: 15px;
}
.popular__item > .item-info > .item-name h3{
    
    font-family: Forum;
    color: #1C1B17;
    font-size: 26px;
    text-align: center;
    line-height: 1;
    margin: auto 0;
}
.popular__item .price-weight{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.popular__item .price-weight h4{
    font-size: 22px;
    font-weight: bold;
    color: #1C1B17;
}
.popular__item .price-weight p{
    color: #bdb4a0;
    font-size: 20px;
}
.popular__calc{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.popular__calc-count{
    width: 127px;
    height: 50px;
    border-radius: 15px;
    background: #AF955C;
    color: #FAF7F4;
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
}
.popular__calc-num{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #000;
    font-size: 36px;
    text-align: center;
    padding-top: 7px;
    border: #000 solid 1px;
}
.popular__item > .add-korz button{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: #7C6033;
    margin: 0 auto;
    padding-top: 5px;
    position: relative;
    cursor: pointer;

    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popular__item > .add-korz button:hover{
    background-color: #AF955C;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.gallery{
    padding-bottom: 105px;
}
.gift{
    padding-top: 105px;
}
.gift__title h2{
    color: #000;
    font-family: Tahoma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.gift__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.gift__item{
    padding-top: 30px;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
}
.gift__item img{
    margin-bottom: 5px;
    border-radius: 25px;
    border: 3px solid #AF955C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.main-hall .slick-prev:before, .main-hall .slick-next:before {
    font-size: 30px;
    color:#AF955C;
}
.main-hall .slick-prev, .main-hall .slick-next {
    width: 30px;
    height: 30px;
}
.main-hall .slick-prev {
    left: -30px;
}
.main-hall .slick-next {
    right: -30px;
}


.events{
    padding-top: 140px;
}
.events__title h2{
    color: #000;
    font-family: Tahoma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.events__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.events__item{
    padding-top: 30px;
    width: 30%;
    margin-right: 15px;
    margin-left: 15px;
}
.events__item img{
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 380px;
    border-radius: 25px;
    border: 3px solid #AF955C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.main-hall{
    padding-top: 140px;
}
.main-hall__title h2{
    color: #000;
    font-family: Tahoma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-hall__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-hall__item{
    padding-top: 30px;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
}
.main-hall__item img{
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 25px;
    border: 3px solid #AF955C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.index-contacts__title h2{
    color: #000;
    font-family: Tahoma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


footer{
    background-color: #1C1B17;
}
.bottom{
    margin: 0 auto; /*Блок по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.footer__logo{
    width: 13%;
    padding-top: 25px;
}
.footer__logo img{
    width: 100%;
}
.footer__menu{
    width: 240px;
    padding-top: 20px;
}
.footer__menu ul{
    display: flex;
    justify-content: space-between;
}
.footer__menu ul li a{
    color: #FAF7F4;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.footer__menu a:hover{
    color: #AF955C;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.footer__menu a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #FAF7F4; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
.footer__menu a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #8C7645; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.bottom p{
    color:#F6EFEA;
    font-family: Tahoma;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}


.menu{
    padding-top: 100px;
    padding-bottom: 70px;
}
.menu__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu__item{
    width: 25%;
    background-color: #7C6033;
    padding: 10px;
    border-radius: 25px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 45px;
}
.menu__item a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.menu__item:hover{
    background-color: #AF955C;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.menu__item-photo img{
    width: 100%;
    border-radius: 25px;
}
.menu__item-info h3{
    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}
.menu-container{
    padding-top: 100px;
    padding-bottom: 70px;
}

.item .item-photo img{
    width: 100%;
    border-radius: 25px;
    height: 305px;
    object-fit: cover;
}
.item .item-info h3{
    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto 0;
}

.item .price-weight{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.item .price-weight h4{
    font-size: 22px;
    font-weight: bold;
    color: #FAF7F4;
}
.item .price-weight p{
    color: #c1b291;
    font-size: 20px;
}



.auth{
    margin: 0 auto;
    padding-top: 70px;
    /* padding-bottom: 100px; */
}
.auth__container{
    background-color: #F6EFEA;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
.auth__title{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 35px;
}
.auth__title-image{
    text-align: center;
    margin-right: 12px;
    width: 84px;
}
.auth__title-image img{
    width: 100%;
}
.auth__title h2{
    text-align: center;
    color: #1C1B17;
    text-align: center;
    font-family: Forum;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto 0;
}
.auth__form{
    width: 650px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
}
.auth__form form input{
    width: 520px;
    margin-bottom: 35px;
    color: rgba(28, 27, 23, 0.50);
    font-family: Forum;
    font-size: 24px;
    padding: 0.375rem 0.75rem;
    border-radius: 20px;
    border: 4px solid #AF955C;
    background: rgba(250, 247, 244, 0.50);
    /* width: 650px;
    height: 60px;
    margin-bottom: 50px;

    color: rgba(28, 27, 23, 0.50);
    text-align: center;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 25px;
    border: 4px solid #AF955C;
    background: rgba(250, 247, 244, 0.50); */
}
.auth__form button{
    width: 50%;
    /*margin: 0 auto;*/
    border: none;
    border-radius: 20px;
    background: #AF955C;
    position: relative;
    cursor: pointer;
    margin-bottom: 28px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.auth__form  button:hover{
    background-color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.auth__form p{
    color: #1C1B17;
    font-family: Forum;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.auth__form-reg a{
    color: #7C6033;
    font-family: Forum;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.auth__form-reg a:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.form-control{
}



.profile__container{
    width: 80%;
    margin: 0 auto;
    background-color: #F6EFEA;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
}
.profile__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__info h2{
    margin-bottom: 15px;
}
.profile__info-phone{
    display: flex;
    margin-bottom: 20px;
}
.profile__info-phone-img{
    width: 16px;
    margin-right: 10px;
}
.profile__info-phone-img img{
    width: 100%;
}
.profile__info-phone h4{
    font-size: 19px;
    margin: auto 0;
    margin-top: 4px;
}
.profile__btn{
    display: flex;
}
.profile__btn-edit{
    border-radius: 10px;
    border: 1px solid #7C6033;
    background: rgba(175, 149, 92, 0.00);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 32px;

    color: #7C6033;
    text-align: center;
    font-family: Forum;
    font-size: 17px;
}
.profile__btn-exit{
    border-radius: 10px;
    background: #AF955C;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 42px;
    padding-right: 43px;
    
    color: #FAF7F4;
    text-align: center;
    font-family: Forum;
    font-size: 17px;
}
.profile__btn-exit:hover{
    background-color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.profile__image{
    width: 235px;
    height: 235px;
    object-fit: cover;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 90px;
}
.profile__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%; /* Радиус скругления */
    border: 1px solid black; /* Параметры рамки */
}

.orders-user h3{
    margin-left: 120px;
    font-size: 36px;
}
.orders-user__empty{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.orders-user__item{
    margin-top: 50px;
}
.item__container-flex{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #F6EFEA;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 70px;
    padding-top: 52px;
    padding-bottom: 52px;
}
.item__container-flex .item__img{
    margin-top: 0;
}
.item__container-flex div{
    margin: auto 0;
}
.item__container-flex div p{
    font-size: 18px;
}
.item__container{
    width: 70%;
}
.item__info{
    display: flex;
    justify-content: space-between;
}
.item__date_time_status{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__more{
    /*margin-left: 200px;*/
    position: relative;
    z-index: 1;
}
.item__more[open] {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
}
.item__more summary:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.item__more-li{
    display: flex;
    justify-content: space-between;
} 
.item__more-p{
    margin-right: 65px;
}
.orders__gradient{
    height: 100px;
    position: relative;
    left: 0;
    bottom: 160px;
    background: linear-gradient(to top, #FAF7F4, transparent);
}
.orders__link-show_more{
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 160px;
    cursor: pointer;

    font-family: Tahoma;
    font-size: 24px;
    /* text-decoration: none; */
    color: #AF955C;
}
.orders__link-show_more:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.orders__link-show_more-img{
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 160px;
}


.answear{
    width: 530px;
    padding: 0px 0px 0px 150px;
    margin: 0 auto;
    color: #000;
    opacity: .8;
    font-size: 24px;
    text-align: center;
    position:  fixed;
    z-index: 501;
    top: 100px;
    right: 20px;
}
.answear a{
    color: #7C6033;
}
.answear .alert-secondary{
    --bs-alert-color: #1C1B17;
    --bs-alert-bg: #e2d4a6;
    --bs-alert-border-color: #ccb262;
}

.empty_korz{
    /* margin: 0 auto; */
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.korz{
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.korz__title{
    width: 260px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
}
.korz__title-image{
    text-align: center;
    margin-right: 20px;
    
}
.korz__title h2{
    text-align: center;
    color: #1C1B17;
    text-align: center;
    font-family: Forum;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.korz__order{
    background-color: #F6EFEA;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.clear{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 100%;
    border: #af955c 2px solid;
    background: #af955c00;
    color: #af955c;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .order-btn__container{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 500;
    bottom: 265px;
    left: 1330px;
} */
.order-btn__container>form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.korz__order-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.korz__order-clear{
    width: 25px;
    /*text-align: right;*/
    position:  relative;
    z-index: 500;
    top: 25px;
    left: 1226px;
}
.korz__order-clear img{
    position: relative;
    cursor: pointer;
}
.korz__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.korz__order-image{
    padding-left: 24px;
    padding-bottom: 24px;
    
}
.korz__order-image img{
    border-radius: 25px;
    width: 205px;
    height: 205px;
    object-fit: cover;
}
.korz__order-title{
    width: 30%;
}
.korz__order-title p{
    color: #1C1B17;
    font-family: Forum;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.korz__order-weight{
    font-size: 22px;
    color: #cdc3ac;
    /*padding-right: 4%;*/
}
.calc{
    display: flex;
    justify-content: space-around;
    border: #AF955C 2px solid;
    padding: 6px;
    border-radius: 60px;
    /*margin-right: 4%;*/
}
.calc-count{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 100%;
    background: #AF955C;
    color: #FAF7F4;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc-num{
    width: 38px;
    height: 38px;
    border: none;
    background-color: #F6EFEA;
    color: #000;
    font-size: 32px;
    text-align: center;
    padding-top: 7px;
}
.korz__order-price{
    font-size: 30px;
    padding-right: 30px;
}
.order-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.order-btn{
    padding: 18px;
    border: none;
    border-radius: 25px;
    background: #AF955C;
    position: relative;
    cursor: pointer;
    color: #FAF7F4;
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.order-btn:hover{
    background-color: #8C7645;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.order-sumAll{
    width: 150px;
    text-align: center;

    font-family: Tahoma;
}


.all-orders{
    padding-top: 120px;
}
.table-orders{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row{
    width: 100%;
    display: block;
}
.row-head{
    display: flex;
}
.row-head-cell{
    border: 1px solid black;
    background-color: #c1b291;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.row-order{
    display: flex;
}
.cell{
    border: 1px solid black;
    background-color: #e2d4a6;
    width: 100%;
    text-align: center;
}

.no_auth{
    color: #1C1B17;

}
.alert_photo{
    width: 10%;
    padding-right: 20px;
}
.align-items-center img{
    width: 100%;
}


.contacts{
    padding-top: 120px;
}
.contacts__items{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contacts__map iframe{
    border-radius: 25px;
}
.contacts__info{
    margin-left: 50px;
}
.contacts__info_phone-close{
    display: flex;
}
.contacts__info_close, .contacts__info_phone{
    font-size: 20px;
    color: #c1b291;
    padding-right: 10px;
}
.contacts__info_phone:hover{
    color: #8C7645;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.table_top{
    background-color: #e2d4a6;
    display: flex;
    align-items: center;
}
.table_top p{
    text-align: center;
}

.set-order{
    margin-bottom: 120px;
}
.set-order__table{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
}
.set-order__items{
    margin-bottom: 40px;
}
.set-order__items-title h3{
    text-align: left;
    margin-bottom: 5px;
    margin-left: 0;
}
.set-order__item{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.set-order__item_title{
    width: 67%;
    padding: 0 10px;
}
.set-order__item_weight{
    padding: 0 10px;
}
.set-order__item_count-price{
    padding: 0 10px;
}
.set-order__items-title-price h3{
    text-align: right;
    margin-top: 5px;
    margin-left: 0;
}
.set-order__btn{
    margin-bottom: 0;
}
.order-info__inputs{
    display: flex;
    width: 520px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 35px;
}
.order-info__inputs p{
    width: 100%;
    display: flex;
}
.order-info__inputs>p>input{
    width: 5%;
    margin-bottom: 0;
    margin-right: 5px;
}